@import url("./styles/__ressources.css");
@import url("./styles/PokemonBox.css");

body {
  height: 100vh;
  background: linear-gradient(180deg, #000000 0%, #4b0039 100%);
  color: var(--colorFont);
}

.btnInstall {
  width: 50%;
  margin: 0 auto 20px;
  font-weight: bold;
  text-transform: uppercase;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  border: solid 2px red;
  width: 50%;
}
