@import url("./styles/__ressources.css");
@import url("./styles/PokemonBox.css");

body {
  height: 100vh;
  background: linear-gradient(180deg, #000000 0%, #4b0039 100%);
  color: var(--colorFont);
}

nav {
  bottom: 0;
  position: absolute;
}

.btnInstall {
  width: 50%;
  margin: 0 auto 20px;
  font-weight: bold;
  text-transform: uppercase;
}

.header-custom {
  /* navbar */
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: var(--navColor);
  border: solid 1px white;
}

.nav-header-custom {
  font-weight: bold;
  letter-spacing: 2px;
}